
.title {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 8px;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}

.subtitle {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 8px;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}