
.title {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 8px;
        // color: rgb(105, 105, 241);
        // color: rgb(107, 175, 175);
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}

.subtitle {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 8px;
        // color: rgb(105, 105, 241);
        // color: rgb(107, 175, 175);
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}