

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;

    &__div{
        margin-top: 40px;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 1px;
    }
    &__title {
        font-size: 36px;
    }
    &__subtitle {
        padding-top: 20px;
        font-size: 18px;
    }

}