

.app {
    // background-color: burlywood;
    // width: 100vw;
    // height: 100vh;
    background-image: url('./../images/phoneBookCardBack.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}