

.registerForm {
    // background-color: aquamarine;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 20px;

    &__label {
        display: flex;
        flex-direction: column;

        font-weight: 900;
        font-size: 18px;
        letter-spacing: 8px;
        // color: rgb(105, 105, 241);
        // color: rgb(107, 175, 175);
        color: #ffffff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    &__input {
        width: 240px;
        height: 30px;
        border-radius: 20px;
        border: none;
        outline: none;

        margin: 20px 0 40px 0;
        padding-left: 20px;

        background-color: rgb(107, 175, 175);
        


        color: rgb(22, 22, 92);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        &::placeholder {
            // padding-left: 20px;
            color: #ffffff;
            font-weight: 700;
        }

        &:not(:placeholder-shown){
            background-color: rgb(85, 99, 99);
            border: none;
            outline: none;
            color: #ffffff;
            font-weight: 700;
        }

    }
    
    &__btn {
        margin-top: 40px;
        width: 240px;
        height: 25px;
        border-radius: 20px;
        border: none;

        font-size: 14px;
        font-weight: 700;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 2px;
        color: white;

        cursor: pointer;

        background-color: darkslategray;
    }
}