
.userMenu {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    &__p {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

        :nth-child(2) {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }

    &__span {
        display: flex;
        justify-content: flex-end;
    }



    &__btn{
        height: 30px;
        width: 80px;
        border-radius: 20px;
        border: none;

        background-color: rgb(22, 22, 92);
        color: #fff;
        
        font-weight: 700;
        letter-spacing: 0.75px;

        cursor: pointer;
    }
}